h2 {
    background-color: #555;
    color: #ccc;
    font-weight: bold;
    padding: 1em;
}

h3 {
    font-weight: bold;
}

h3::before{
    content: '■';
}

.small {
    text-align: right;
}

code::before {
    content: " '";
}

code::after {
    content: "' ";
}

pre > code {
    background-color: #ddd;
}

pre > code::before {
    content: "";
}

pre > code::after {
    content: "";
}

pre > code > div {
    background-color: #ddd;
}